<app-sidebar></app-sidebar>

<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo se establece los Productos de la tineda.</p>

  </div>
</div>


<div class="card box-shadow-sm">
  <div class="card-header">
    <h5 style="margin-bottom: 0px;">Variedad de Productos</h5>
  </div>

  <div class="card-body">
    <div style="max-width: 48rem;">

      <div class="row mb-5">
        <div class="col-md-4" style="padding-right: 0;">
          <img [src]="url+'obtener_portada/'+producto.portada" class="img-thumbnail rounded-0" alt="Square image">
        </div>
        <div class="col-md-8" style="padding-left: 0;">
          <div class="card" style="height: 100%;">
            <div class="card-body">
              <h3 class="card-product-title text-truncate mb-2">
                <a class="nav-link mb-3">{{ producto.titulo }}</a>
                <p class="text-muted" style="white-space: pre-line;">
                  {{ producto.descripcion }}
                </p>
                <div class="d-flex align-items-center">
                  <span class="h5 d-inline-block mb-0 text-danger">S./{{ producto.precio }}</span>
                </div>
              </h3>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row align-items-center">
        <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Nombre de la tienda</label>
        <div class="col-md-9">
          <input class="form-control" type="text" id="text-input" placeholder="Titulo de la Variedad" name="titulo_variedad" [(ngModel)]="producto.titulo_variedad" required>
        </div>
      </div>
      <div class="form-group row align-items-center">
        <label class="col-md-3 col-form-label font-weight-medium" for="text-input">Variedades</label>
        <div class="col-md-9">

          <div class="input-group">
            <input class="form-control" type="text" placeholder="Nueva Variedad" name="nueva_variedad" [(ngModel)]="nueva_variedad">
            <button class="btn btn-primary" type="button" (click)="agregar_variedad()">Agregar</button>
          </div>

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
          <div class="table-responsive mt-3">
            <table class="table table-sm" *ngIf="producto.variedades">
              <thead class="thead-dark">
                <tr>

                  <th>Titulo</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <ng-container *ngIf="producto.variedades.length === 0">
                <tbody>
                  <tr>
                    <td colspan="2" class="text-center"><span class="text-muted">No hay categorias Disponibles</span>
                    </td>
                  </tr>
                </tbody>
              </ng-container>
              <ng-container *ngIf="producto.variedades.length >= 1">

                <tbody>
                  <tr *ngFor="let item of producto.variedades, let i = index">
                    <td>
                      {{ item.titulo }}
                    </td>
                    <td>
                      <a class="text-danger" style="cursor: pointer;" (click)="eliminarVariedad(i)">[Eliminar]</a>
                    </td>
                  </tr>
                </tbody>

              </ng-container>


            </table>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="card-footer">
    <button *ngIf="!load_btn" class="btn btn-primary mr-3" (click)="actualizar()" type="button">Guardar cambios</button>
    <button *ngIf="load_btn" type="button" class="btn btn-secondary">
      <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
      Guardando...
    </button>
  </div>
</div>
